.containerStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #fffdfd;
}

.selectStyle {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
}
